/**index.wxss**/
view{
  /* color:var(--themeColor) */
}
.index_swiper{
  swiper{
    width: 750rpx;
    image{
      width: 100%;
    }
  }
}
.index_cate{
  display: flex;
  navigator{
    flex:1;
    image{
      width: 100%;
    }
  }
}
.index_floor{
  .floor_title{
    image{
      width: 100%;
    }

  }
  .floor_list{
    navigator{
      float: left;
      width: 33.33%;
      &:nth-last-child(-n+4){
        // 原图宽高 232*386
        height: 33.33vw*386/232/2;
      }
      image{
        width: 100%;
      }
    }
  }
}